{% extends '::base.html.twig' %}

{% block body %}

<header>

    <h1>CUPON</h1>

    <nav>
        <ul>

            <li><a href="{{ path('portada', {'ciudad': ciudad}) }}">Oferta del día</a></li>
            <li><a href="#">Ofertas recientes</a></li>
            <li><a href="#">Mis ofertas</a></li>

            <li>{{ render(controller('CiudadBundle:Default:listaCiudades', {'ciudad': ciudad})) }}</li>

        </ul>
    </nav>

</header>

<article>

    {% block article %}{% endblock %}

</article>

<aside>

    {% block aside %}{% endblock %}

</aside>

<footer>

    &copy; {{ 'now' | date('Y') }} - Cupon
    <a href="{{ path('pagina_estatica', {'pagina': 'ayuda'}) }}">Ayuda</a>
    <a href="{{ path('pagina_estatica', {'pagina': 'contacto'}) }}">Contacto</a>

</footer>

{% endblock %}